.conference-list-item {}

.conference-list-item__infoline {}

.conference-list-item__infoline > * {
  display: inline-block;
  margin-right: 1em;
}

@media screen and (max-width: 768px) {
  .conference-list-item__infoline > * {
    width: 100%;
    margin-right: 0;
  }
}

.conference-list-item__description {
  color: #606060;
}

.conference-list-item__separator {
  color: #808080;
}
