.conference-detail-item {
  margin-top: 2em;
  margin-bottom: 3em;
}

.conference-detail-item__title {
  margin-left: 0;
}

.conference-detail-item__author > * {
  margin-right: 1em;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .conference-detail-item__author > * {
    width: 100%;
  }
}

.conference-detail-item__description {
  color: #606060;
}

.conference-detail-item__wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
