.conference-list-item {}

.conference-list-item__infoline {}

.conference-list-item__infoline > * {
  margin-right: 1em;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .conference-list-item__infoline > * {
    width: 100%;
  }
}

.conference-list-item__description {
  color: #606060;
}

.conference-list-item__separator {
  color: #808080;
}

.conference-list-item__wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
