.conference-detail-item {}

.conference-detail-item__data {
  margin-left: .25em;
  padding-left: .5em;
  border-left: 2px solid #f0f0f0;
}

.conference-detail-item__description {
  color: #606060;
}
